<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        <code>
            <div style="display: inline-flex;">
                <span><</span>
                <span>div id="ytdl-weblnk"></span>
            </div>
                <a style="color: var(--yt-spec-text-secondary);font-size: var(--ytd-user-comment_-_font-size);padding: 0 5px;" href="http://127.0.0.1:8888/vreq?vid=FR91CB5SBWU&amp;ext=mp3" target="_blank">Open ytdl-web</a>
            </div>
        </code>
    </pre>
</body>
</html>
