<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>YoutubeDL - {{vtitle}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
    <script>
        function error_redirect(msg) {
            alert(msg)
            window.location.replace('/')
        }
    </script>
    <style>
        .btn {
            width: 180px;
        }

        .btn-dl {
            color: white !important;
        }

        .footer {
            position: sticky;
            bottom: 0;
            z-index: 1020;
            padding: 15px 0;
            background-color: rgba(255, 255, 255, .85);
        }
    </style>
</head>

<body>
    <script>{{errhandle|safe}}</script>

    <div style="width: 100%; margin: 25px auto;">
        <div style="text-align: center; width: 80%; margin-left: auto; margin-right: auto;">
            <h2>{{vtitle}}</h1>
            <img src="{{vimg}}" style="max-width: 100%; margin-top: 20px;">
        </div>
    </div>

    <nav class="navbar footer">
        <div id="action-btn" vid={{vid}} ext={{ext}} style="text-align: center; display: inline; margin: 0 auto;">
            <button id="btn-convert" type="button" class="btn btn-primary btn-lg" disabled>&nbsp;</button>
            <a id="btn-download" class="btn btn-success btn-lg btn-dl disabled"
                href="/download/{{ext}}?vid={{vid}}">Download {{EXT}}</a>
        </div>
    </nav>

    <script src="{{url_for('static', filename='js/vreq.js')}}"></script>
</body>

</html>